src/main/java/org/tempuri/Service1.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendEmail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_strEmailAddrTo" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="_strPasswordPDF" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="_strCrdContent" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="_strContent" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="_strCustName" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendEmailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendEmailResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendEmailRev1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_strEmailAddrTo" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="_strPasswordPDF" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="_strCrdContent" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="_strContent" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="_strCustName" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="_strGradeCdID" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="_strGradeCdEN" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendEmailRev1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SendEmailRev1Result" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendEmailSoapIn">
    <wsdl:part name="parameters" element="tns:SendEmail"/>
  </wsdl:message>
  <wsdl:message name="SendEmailSoapOut">
    <wsdl:part name="parameters" element="tns:SendEmailResponse"/>
  </wsdl:message>
  <wsdl:message name="SendEmailRev1SoapIn">
    <wsdl:part name="parameters" element="tns:SendEmailRev1"/>
  </wsdl:message>
  <wsdl:message name="SendEmailRev1SoapOut">
    <wsdl:part name="parameters" element="tns:SendEmailRev1Response"/>
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="SendEmail">
      <wsdl:input message="tns:SendEmailSoapIn"/>
      <wsdl:output message="tns:SendEmailSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="SendEmailRev1">
      <wsdl:input message="tns:SendEmailRev1SoapIn"/>
      <wsdl:output message="tns:SendEmailRev1SoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SendEmail">
      <soap:operation soapAction="http://tempuri.org/SendEmail" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmailRev1">
      <soap:operation soapAction="http://tempuri.org/SendEmailRev1" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="SendEmail">
      <soap12:operation soapAction="http://tempuri.org/SendEmail" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendEmailRev1">
      <soap12:operation soapAction="http://tempuri.org/SendEmailRev1" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://192.168.88.97/Service1.asmx"/>
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://192.168.88.97/Service1.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>